{% extends 'education/base.html' %}
{% block body%}

<div style="background-color: aquamarine; height: 100%;">
    <br><br>
    <div  style="text-align: center; ">
        <h3>{{ task.title}}</h3></div><br><br><br>
        <ul>
            <li>
                <h5>{{ task.desc_1 }}</h5>
            </li>
        </ul><br> <br><br>
        <ul>
            <li>
                <h5>{{ task.desc_2 }}</h5>
            </li>
        </ul><br> <br><br>
        <ul>
            <li>
                <h5>{{ task.desc_3 }}</h5>
            </li>
        </ul><br> <br><br>


        



</div>

{% endblock%}